.profile__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 390px;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
}

@media screen and (max-width: 920px) {
    .profile__name {
        margin: 0 0 0 30px;
    }
}

@media screen and (max-width: 580px) {
    .profile__name {
        font-size: 28px;
        line-height: 33px;
    }
}
