.header__container_type-mobile {
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #545454;
    padding-bottom: 40px;
    bottom: 83px;
    right: 0;
    width: 100%;
}