.profile {
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    max-width: 100%;
    gap: 30px;
    display: grid;
    margin: 0 auto 51px;
    grid-template-columns: repeat(2, max-content) 1fr;
    padding: 0;
}

@media screen and (max-width: 920px) {
    .profile {
        margin: 0 auto 36px;
        grid-template-columns: minmax(282px, 1fr);
        gap: 0;
    }
}

