.auth__submit-btn_inactive {
    font-size: 18px;
    opacity: 0.4;
    margin: 216px 0 0;
    border: 1px solid grey;
    background: black;
    color: grey;
    height: 50px;
    padding: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}