.popup__error_visible {
    border-bottom-color: red;
    height: 27px;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    max-width: 358px;
    color: red;
}