.element__like-btn {
    margin: 0 0 3px;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    border-radius: 0;
    background-image: url("../../../images/Vector__like.svg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    min-height: 19px;
    min-width: 22px;
    padding: 0;
}

.element__like-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    background-image: url("../../../images/button__like_hover.svg");
}

.element__like-btn:active {
    background-image: url("../../../images/like__black.svg");
}

